In [5]:
import pandas as pd
pd.set_option('display.max_columns', 500)

data= pd.read_csv('tidy_dataset_variance_killers.csv')

In [6]:
data

,length_time,pickup_boro_code,pickup_nta_code,dropoff_boro_code,dropoff_nta_code,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,vendor_id,passenger_count,trip_distance,fare_amount,pickup_datetime,pickup_week,pickup_wday
0,520,Manhattan,MN15,Manhattan,MN19,-73.983009,40.766602,-73.967972,40.760677,1,1,0.90,7.0,2015-05-11 18:00:00,20,Monday
1,672,Manhattan,MN24,Manhattan,MN17,-74.009789,40.712395,-73.983223,40.760330,1,1,3.70,12.5,2015-05-25 07:00:00,22,Monday
2,824,Manhattan,MN21,Manhattan,MN24,-73.989510,40.734470,-73.997185,40.717976,1,1,1.40,10.0,2015-05-06 18:00:00,19,Wednesday
3,637,Manhattan,MN17,Manhattan,MN33,-73.978989,40.755726,-73.951187,40.789021,1,1,3.40,12.0,2015-05-27 02:00:00,22,Wednesday
4,2491,Manhattan,MN17,Queens,QN98,-73.985313,40.761181,-73.865250,40.770699,2,1,11.74,37.5,2015-05-20 17:00:00,21,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491287,193,Manhattan,MN14,Manhattan,MN12,-73.982048,40.775452,-73.976860,40.783520,2,6,0.70,4.5,2015-05-20 23:00:00,21,Wednesday
491288,945,Manhattan,MN40,Manhattan,MN22,-73.956261,40.787140,-73.978577,40.728729,1,1,5.30,18.0,2015-05-30 22:00:00,22,Saturday
491289,764,Manhattan,MN20,Manhattan,MN22,-73.974472,40.747253,-73.983070,40.726955,1,1,1.70,10.0,2015-05-11 19:00:00,20,Monday
491290,955,Manhattan,MN13,Manhattan,MN27,-73.993607,40.745293,-73.987350,40.722256,1,1,2.20,12.0,2015-05-19 21:00:00,21,Tuesday
491291,440,Manhattan,MN31,Manhattan,MN12,-73.949684,40.770271,-73.978127,40.783112,2,2,1.94,8.0,2015-05-14 07:00:00,20,Thursday

In [7]:
train = pd.read_csv('train.csv')

In [8]:
train

,weight,response,pickup_hour,pickup_month,pickup_week,pickup_doy,pickup_wday,length_time,pickup_BoroCode,pickup_NTACode,dropoff_BoroCode,dropoff_NTACode,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,vendor_id,passenger_count,trip_distance,fare_amount,pair
0,1,1.75,18,5,19,132,4,520,1,MN15,1,MN19,-73.983009,40.766602,-73.967972,40.760677,1,1,0.90,7.0,MN15-MN19
1,1,2.95,18,5,19,127,6,824,1,MN21,1,MN24,-73.989510,40.734470,-73.997185,40.717976,1,1,1.40,10.0,MN21-MN24
2,1,2.46,7,5,19,132,4,1016,1,MN25,1,MN27,-74.012741,40.702229,-73.998878,40.713711,2,1,1.14,11.5,MN25-MN27
3,1,1.66,11,5,20,134,6,550,1,MN99,1,MN20,-73.970909,40.767231,-73.979507,40.752331,2,1,1.28,7.5,MN99-MN20
4,1,1.75,20,5,19,128,7,501,1,MN20,1,MN22,-73.973869,40.747925,-73.986618,40.730328,1,1,1.40,7.5,MN20-MN22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343741,1,2.00,20,5,21,145,3,740,1,MN12,1,MN36,-73.978676,40.783512,-73.938370,40.850533,2,1,5.84,18.5,MN12-MN36
343742,1,1.00,23,5,21,141,6,193,1,MN14,1,MN12,-73.982048,40.775452,-73.976860,40.783520,2,6,0.70,4.5,MN14-MN12
343743,1,2.35,19,5,19,132,4,764,1,MN20,1,MN22,-73.974472,40.747253,-73.983070,40.726955,1,1,1.70,10.0,MN20-MN22
343744,1,2.65,21,5,20,140,5,955,1,MN13,1,MN27,-73.993607,40.745293,-73.987350,40.722256,1,1,2.20,12.0,MN13-MN27
343745,1,1.00,7,5,20,135,7,440,1,MN31,1,MN12,-73.949684,40.770271,-73.978127,40.783112,2,2,1.94,8.0,MN31-MN12